flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "TEST ver. 1.0.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c09afa4bd9fb5d11",
        "type": "tab",
        "label": "Dummy Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53a9e9af08dcbbcd",
        "type": "git-nodes-config",
        "name": "astathis",
        "git": "git@github.com:astathis/Node-RED-Docker.git"
    },
    {
        "id": "070e02cec3ef11d1",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "Go!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c0228b65cf968b22"
            ]
        ]
    },
    {
        "id": "c0228b65cf968b22",
        "type": "function",
        "z": "3af82246.3634ae",
        "name": "Set Value",
        "func": "msg.payload = 231231;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 260,
        "wires": [
            [
                "2e025af9faa05996"
            ]
        ]
    },
    {
        "id": "2e025af9faa05996",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "dcaaf07ae2c63008",
        "type": "comment",
        "z": "3af82246.3634ae",
        "name": "",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "c875accdde065e04",
        "type": "comment",
        "z": "c09afa4bd9fb5d11",
        "name": "",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ec7925369a22f80",
        "type": "debug",
        "z": "c09afa4bd9fb5d11",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "e203f58c02d8066d",
        "type": "inject",
        "z": "c09afa4bd9fb5d11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4a4936aa80c02601"
            ]
        ]
    },
    {
        "id": "4a4936aa80c02601",
        "type": "function",
        "z": "c09afa4bd9fb5d11",
        "name": "test",
        "func": "msg.payload = 5;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "3ec7925369a22f80"
            ]
        ]
    }
]